<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72220023735-ft8bod87njh1kp3o7di5pgtbs7r3k0qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72220023735-ft8bod87njh1kp3o7di5pgtbs7r3k0qg</string>
	<key>API_KEY</key>
	<string>AIzaSyCNB2MAupN2-cgfXyQSW_oAdXhypLgGXmg</string>
	<key>GCM_SENDER_ID</key>
	<string>72220023735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plannitFrontend</string>
	<key>PROJECT_ID</key>
	<string>plannit-97dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>plannit-97dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72220023735:ios:ad67b63c8036379280a632</string>
</dict>
</plist>